
.menu {
    display: none;
}


.nav ul {
    display: flex !important;
    flex-direction: row;
    gap: .75rem;
    background: transparent;
    border: none;
    position: static;
}

.gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}